* {
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-decoration: none;
}

#bg-container {
  width: 100%;
  height: 400px;
  background-image: url("./bg_1.avif");
  background-repeat: no-repeat;
  background-position: right;
  background-attachment: fixed;
  background-size: cover;
}
